#resultTable .cell{
    -fx-alignment: center;
    -fx-font-family: Arial;
    -fx-text-fill: #505050;
}

#resultTable .two-line-table-cell VBox{
    -fx-spacing: 0.5em;
}

#resultTable .two-line-table-cell .filename-label{
    -fx-font-family: Arial;
    -fx-font-size: 1.1em;
    -fx-font-weight: 900;
    -fx-text-overrun: center-ellipsis;
}

#resultTable .two-line-table-cell .directory-label{
    -fx-font-family: Arial;
    -fx-text-overrun: center-ellipsis;
    -fx-text-fill: #505050;
}