@font-face {
    font-family: 'InterRegular';
    src: url('../inter-font/Inter-Regular.otf');
}

@font-face {
    font-family: 'InterRegularBold';
    src: url('../inter-font/Inter-Bold.otf');
}

.root {
    MAIN_COLOR: #F4F4F4;
    SECOND_COLOR: #B0B0B0;
    TEXT_COLOR: #202020;
    TEXT_HINT_COLOR: #707070;
    SELECTED_COLOR: #1A6BE3;
}

#mainWindows {
    -fx-font-familiy: 'InterRegular' ;
    -fx-font-size: 1.2em;
    -fx-background-color: MAIN_COLOR;
}


.text-field {
    -fx-text-fill: TEXT_COLOR;
    -fx-prompt-text-fill: TEXT_HINT_COLOR;
    -fx-background-color: MAIN_COLOR;
    -fx-border-color: MAIN_COLOR MAIN_COLOR SECOND_COLOR MAIN_COLOR;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-padding: 5;
}


.button {
    -fx-border-radius: 10;
    -fx-background-color: MAIN_COLOR;
    -fx-border-color: SECOND_COLOR;
    -fx-text-fill: TEXT_COLOR;
    -fx-border-width: 1;
}

.button .glyph-icon {
    -fx-fill: TEXT_COLOR;
}

.label {
    -fx-text-fill: TEXT_COLOR;
}

#currentFileProcessedLabel {
    -fx-text-fill: TEXT_HINT_COLOR;
}

#numberOfSearchResultsLabel {
    -fx-text-fill: TEXT_HINT_COLOR;
}

#resultTable .placeholder .label {
    -fx-text-fill: TEXT_HINT_COLOR;
}

#searchTextField {
    -fx-border-insets: 0 2em 0 0;
}

#resultTable {
    -fx-border-color: MAIN_COLOR;
    -fx-table-cell-border-color: MAIN_COLOR;
    -fx-background-color:  MAIN_COLOR;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-padding: 1.5em 0 1em 0;
}

#resultTable .column-header,
#resultTable .column-header .filler,
#resultTable .column-header-background .filler {
    -fx-background-color: MAIN_COLOR;
    -fx-border-color: MAIN_COLOR;
}

#resultTable .column-header .label {
    -fx-text-fill: TEXT_HINT_COLOR;
    -fx-font-familiy: 'InterRegularBold' ;
    -fx-font-size: 1.0em;
    -fx-alignment: center-left;
    -fx-label-padding: 0 0 0 10 ;
}

#resultTable .table-row-cell {
    -fx-background-color:  MAIN_COLOR;
    -fx-border-color: MAIN_COLOR
}

#resultTable .cell {
    -fx-alignment: center;
    -fx-text-fill: TEXT_COLOR;
    -fx-padding: 0.3em;
}

#resultTable .table-row-cell:selected {
    -fx-background-color: SELECTED_COLOR;
    -fx-border-color: SELECTED_COLOR;
    -fx-table-cell-border-color: SELECTED_COLOR;
}

#resultTable .two-line-table-cell VBox {
    -fx-spacing: 0.5em;
}

#resultTable .two-line-table-cell .filename-label {
    -fx-text-overrun: center-ellipsis;
    -fx-text-fill: TEXT_COLOR;
}

#resultTable .two-line-table-cell .directory-label {
    -fx-text-overrun: center-ellipsis;
    -fx-text-fill: TEXT_COLOR;
}

/* Style the track */
.scroll-bar .track {
    -fx-background-color: MAIN_COLOR; /* Light gray background */
    -fx-border-color: MAIN_COLOR;     /* Slightly darker border */
    -fx-border-width: 1px;
    -fx-background-radius: 5px;    /* Rounded corners */
    -fx-border-radius: 5px;
}

/* Style the thumb */
.scroll-bar .thumb {
    -fx-background-color: TEXT_HINT_COLOR; /* Darker gray thumb */
    -fx-background-insets: 2px;     /* Add some insets */
    -fx-background-radius: 5px;    /* Rounded corners */
}

/* Style the increment and decrement buttons (optional) */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: MAIN_COLOR; /* Hide the default buttons */
    -fx-border-color: MAIN_COLOR;
    -fx-padding: 0;
}

/* Style the increment and decrement arrows (optional) */
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " "; /* Hide the default arrows */
}

#optionWindow {
    -fx-font-familiy: 'InterRegular' ;
    -fx-font-size: 1.2em;
    -fx-background-color: MAIN_COLOR;
}

#optionWindow #navigationBar {
    -fx-background-color: derive(MAIN_COLOR, -10%);
}

#optionWindow #navigationBar .hyperlink {
    -fx-text-fill: TEXT_COLOR;
    -fx-graphic-text-gap: 10px;
    -fx-underline: false;
    -fx-border-width: 0px;
}

#optionWindow #navigationBar .hyperlink  .glyph-icon {
    -fx-fill: TEXT_COLOR;
}

#optionWindow #navigationBar .hyperlink:focused {
    -fx-border-width: 0px;
    -fx-underline: false;
}

.context-menu {
    -fx-background-color: MAIN_COLOR;
    -fx-text-fill: TEXT_COLOR;
}

.menu-item:focused {
    -fx-background-color: derive(MAIN_COLOR, -10%);
}