<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${APPLICATION_HOME_DIRECTORY_FOR_LOGGING}/document-finder.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- monthly rollover -->
      <fileNamePattern>${APPLICATION_HOME_DIRECTORY_FOR_LOGGING}/document-finder.%d{yyyy-MM}.log.gz</fileNamePattern>
      <!-- keep 12 months' worth of history -->
      <maxHistory>3</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.pdfbox.pdmodel.font" level="ERROR" />
  <logger name="org.apache.fontbox.ttf.CmapSubtable" level="ERROR" />
  <logger name="com.bytedompteur.documentfinder" level="INFO" />

<!--  sascha: Make appenders conditional: https://logback.qos.ch/manual/configuration.html#conditional-->
  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>
</configuration>
